/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
@font-face{
  font-family: creepy;
  src: url('images/BerkahiBlackletter.ttf');
}

html{
  background-color: black;
}

body{
  background-image: url('images/riftBackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1, h3{
  font-family: creepy;
  text-align: center;
  color: white;
  font-size: 50px;
}

h2{
  font-family: creepy;
  font-size: 36px
}
p{
  font-family: creepy;
  font-size: 18px;
}

ul{
  list-style: none;
  margin-right: 40px;
}

.group{
  display: flex;
  align-items: center;
  margin: 20px;
}

.scoreBoard{
  margin-bottom: 75px;
}

.itemOne{
  flex: 1;
  text-align: left;
}

.itemTwo{
  text-align: right;
  flex: 1;
}

.itemThree{
  text-align: center;
  flex: 1;
}

.mainPage{
  text-align: center;
  border: 1px solid black;
  margin: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 15%;
  margin-top: 75px;
}

.mainPage h2{
  margin-bottom: 35px;
}

.results{
  margin-top: 10%;
}

img{
  width: 85%;
  border-radius: 50%;
}

@media all and (min-width: 600px){
  .mainPage{
    min-height: 350px;
  }
}